<!DOCTYPE html>
  <html>
    <head>
      <title>Ruby on Rails Tutorial Sample App | Home</title>
    </head>
    <body>
    <h1>Sample App</h1>
    <p>This is a the home sample page for the <a href=""http://railstutorial.org/"> Rails Tutorial</a> sample application</p>
    </body>
  </html>
